doctype html
html
    head
        title Mega Facts
        link(rel='stylesheet', href='/style/style.css')
    body
        #container
            #header
                h1 Mega Facts
            block content
        #footer
            h6 soy el footer
        script(src="/script/jquery-1.11.3.min.js")
        script(src="/script/main.js")